/* font-family: 'M PLUS Code Latin', monospace; */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;300;400&display=swap");

/* font-family: 'Cairo', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.arabicFont .mainHeroDiv {
  font-family: "Aref Ruqaa", serif;
  font-family: "Cairo", sans-serif;
}
.mainHeroDiv {
  height: 100vh;
  font-family: "M PLUS Code Latin", monospace;
}

.arabicFont .centerHeroArea {
  direction: rtl;
}

.arabicFont .resumeDownload {
  direction: ltr;
}

span {
  color: #00ffff;
}
