.MainNavbarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header-bg {
  background-color: #121212;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    45deg,
    #000117 0,
    #000117 0.6000000000000001px,
    #121212 0,
    #121212 50%
  );
}
