/* font-family: 'M PLUS Code Latin', monospace; */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;300;400&display=swap");

/* font-family: 'Cairo', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.arabicFont .mainContactBox {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.formbox input {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 10px;
  font-family: "M PLUS Code Latin", monospace;
  font-size: 1rem;
  width: 90%;
  transition: 0.3s;
}

.arabicFont .formbox input {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}

.formbox input:focus {
  border-bottom: 1px solid #00ffff;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formbox .msgBox {
  margin: 5px 0 2px 0;
}

.arabicFont .formbox div button {
  font-family: "Aref Ruqaa", serif;
}

.arabicFont .ContactBox {
  direction: ltr;
}
